version: '3'

services:

  nginx:
    restart: always
    image: nginx:1.13.3-alpine
    ports:
      - "80:80"
    depends_on:
      - sentry-web
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./config/nginx.conf:/etc/nginx/nginx.conf:ro
    logging:
      options:
        max-size: 100m

  sentry-web:
    expose:
      - "9000"
